@*DO NOT USE*@
@{
    ViewData["Title"] = "TimeCalculatorResult";
}

@*<h1>TimeCalculatorResult</h1>
<p>@ViewBag.Hours Hours + @ViewBag.Minutes Minutes + @ViewBag.Seconds Seconds = @ViewBag.Total Seconds</p>*@
@*DO NOT USE*@